.calendar-main {
    padding: 0 100px;
}

.calendar-main-contents {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.create-btn {
    display: flex;
    padding: 20px 0;
    width: 220px;
    background-color: var(--primary-color);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.create-btn p {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.calendar-display {
    display: flex;
    justify-content: flex-end;
    width: 220px;
}

.calendar-display select {
    width: 110px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}