.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.user-form input,
.user-form label {
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid #000;
    padding: 10px;
}

.user-form select {
    width: 320px;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid #000;
}

.user-form label {
    display: flex;
    align-items: center;
    justify-content: left;
}

label p {
    margin: 0;
    font-size: 12px;
    text-align: left;
}

#form-file {
    display: none;
}

.user-form button {
    width: 350px;
    height: 60px;
    margin-top: 70px;
    background-color: var(--highlight-bg);
    font-size: 30px;
    border: none;
    border-radius: 20px;
}

.another-form {
    margin-top: 20px;
}

.another-form a {
    text-decoration: none;
    color: var(--primary-color);
}
