#modal-bg.active {
    opacity: 1;
    pointer-events: auto;
}

#modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--modal-overlay);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

#event-modal-container.active,
#edit-modal-container.active {
    opacity: 1;
    pointer-events: auto;
}

#event-modal-container,
#edit-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 25%;
    padding: 60px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}

#event-modal-close,
#edit-modal-close {
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #4d4d4d;
    transition: color 0.3s ease;
}

#event-modal-close:hover,
#edit-modal-close:hover {
    color: #1a1a1a;
}

.date-time-picker {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date-time-picker input[type="text"],
.date-time-picker input[type="date"],
.date-time-picker input[type="time"],
.date-time-picker select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.date-time-picker label {
    font-weight: bold;
    margin-bottom: 5px;
}

.date-time-picker div {
    display: flex;
    flex-direction: column;
}

.date-time-picker div p {
    margin: 0;
    font-weight: bold;
}

.date-time-picker input:focus {
    border-color: var(--google-blue);
    box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
    outline: none;
}

#color-palette {
  display: flex;
  gap: 10px;
}