<div class="calendar-join">
    <div class="calendar-join-header">
        <h1> カレンダーに参加</h1>
    </div>
    <div class="calendar-join-form">
        <form action="/join" method="POST">
            <div class="form-content">
                <label for="calendar-id">カレンダーID</label>
                <input type="text" name="calendar_id" placeholder="カレンダーID" required>
            </div>
            <button type="submit">参加</button>
        </form>
    </div>
</div>