<div class="calendar-new">
    <div class="calendar-new-header">
        <h1>新規カレンダー作成</h1>
    </div>
    <div class="calendar-new-form">
        <form action="/new" method="POST">
            <div class="form-content">
                <label for="calendar-name">カレンター名</label>
                <input type="text" name="calendar_name" placeholder="カレンダー名" required>
            </div>
            <button type="submit">作成</button>
        </form>
    </div>
</div>