<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Smart Calendar</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.6.2/dist/fetch.umd.js"></script>

    </head>
    <body>
        <nav class="center-horizontal">
            <% if logged_in? %>
                <main id="authed-main">
                    <section id="calendar">
                        <%= yield %>
                    </section>
                </main>
            <% else %>
                <main id="unauthed-main">
                    <%= yield %>
                </main>
            <% end %>
        </nav>
    </body>
</html>