<div class="unauthed-card">
    <h1>Smart Calendar</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Login</button>
    </form> 
    <p>アカウントを持っていない場合は<a href="/signup">こちら</a></p>
</div>