/* ================= BASE ================= */
@import url('base/reset.css');
@import url('utils/variables.css');

/* ============== MOLECULES ============= */
@import url('molecules/button.css');
@import url('molecules/form.css');
@import url('molecules/modal.css');

/* ================ ORGANISMS =============== */
@import url('organisms/header.css');
@import url('organisms/menu.css');
@import url('organisms/main.css');

/* ================ PAGES================ */
@import url('pages/login.css');
@import url('pages/calendar.css');
