*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

.unauthed-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.unauthed-card h1{
    margin-top: 70px;
    font-size: 120px;
    color: #9747FF;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.user-form input, .user-form label{
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid #000;
    padding: 10px;
}

.user-form select {
    width: 320px;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid #000;
}

.user-form label{
    display: flex;
    align-items: center;
    justify-content: left; 
}

label p{
    margin: 0;
    font-size: 12px;
    text-align: left;
}

#form-file {
    display: none;
}

.user-form button{
    width: 350px;
    height: 60px;
    margin-top: 70px;
    background-color: #E4CCFF;
    font-size: 30px;
    border: none;
    border-radius: 20px;
}

.another-form {
    margin-top: 20px;
}

.another-form a{
    text-decoration: none;
    color: #9747FF;
}

.calendar_header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 0px 30px;
}

.calendar_menu{
    margin-right: 600px;
}

#date-picker {
    display: flex;
}

table{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-collapse:  collapse;
}

th, td{
    height: 80px;
    padding: 10px;
    border: 1px solid #000;
}