*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: #F5FBFF;
}



/* signup.erb login.erb */

.unauthed-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.unauthed-card h1{
    margin-top: 70px;
    font-size: 120px;
    color: #9747FF;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.user-form input, .user-form label{
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid #000;
    padding: 10px;
}

.user-form select {
    width: 320px;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid #000;
}

.user-form label{
    display: flex;
    align-items: center;
    justify-content: left; 
}

label p{
    margin: 0;
    font-size: 12px;
    text-align: left;
}

#form-file {
    display: none;
}

.user-form button{
    width: 350px;
    height: 60px;
    margin-top: 70px;
    background-color: #E4CCFF;
    font-size: 30px;
    border: none;
    border-radius: 20px;
}

.another-form {
    margin-top: 20px;
}

.another-form a{
    text-decoration: none;
    color: #9747FF;
}



/* index.erb */

/*ハンバーガーメニュー部分*/
#calendar_menu, .calendar_header{
    background-color: #E4CCFF;
}

#calendar_menu nav{
    display: block;
    width: 220px;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
}

#calendar_menu.open nav{
    left: 0;
    opacity: 1;
}

nav .inner{
    margin-top: 80px;
    padding: 25px;
}

nav .inner ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .inner ul li{
    margin: 0;
    border-bottom: 1px solid #333;
}

nav .inner ul li a{
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 1rem;
    transition-duration: 0.2s;
}

nav .inner ul li a:hover{
    background-color: #e4e4e4;
}

.toggle-btn{
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}

.toggle-btn span{
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    transition: all 0.5s;
    border-radius: 4px;
}

.open .toggle-btn{
    position: fixed;
}

.toggle-btn span:nth-child(1){
    top: 4px;
}

.toggle-btn span:nth-child(2){
    top: 14px;
}

.toggle-btn span:nth-child(3){
    bottom: 4px;
}

.open .toggle-btn span:nth-child(1){
    transform: translateY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2){
    opacity: 0;
}

.open .toggle-btn span:nth-child(3){
    transform: translateY(-10px) rotate(315deg);
}

#mask{
    display: none;
    transition: 0.5s;
}

.open #mask {
    display: block;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.7;
    cursor: pointer;
}


/*ヘッダー部分*/

.calendar_header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

#date-picker {
    display: flex;
    align-items: center;
}

#prev-month-button, #next-month-button{
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
}

#prev-month-button:hover, #next-month-button:hover{
    background-color: #e4e4e4;
}

#prev-month-button span{
    display: block;
    width: 30px;
    height: 1.5px;
    background-color: #333;
    border-radius: 4px;
}

#prev-month-button span:nth-child(1){
    position: absolute;
    top: 35px;
    transform: rotate(-45deg);
}

#prev-month-button span:nth-child(2){
    position: absolute;
    top: 55px;
    transform: rotate(45deg);
}

#next-month-button span{
    display: block;
    width: 30px;
    height: 1.5px;
    background-color: #333;
    border-radius: 4px;
}

#next-month-button span:nth-child(1){
    position: absolute;
    top: 35px;
    transform: rotate(45deg);
}

#next-month-button span:nth-child(2){
    position: absolute;
    top: 55px;
    transform: rotate(-45deg);
}

#year-month{
    margin: 0 50px;
    font-size: 24px;
}

.calendar_info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.calendar_header img {
    border-radius: 50%;
}

.calendar-main{
    padding: 0 200px;
}

.calendar-main-contents{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

/*　ボディ部分　*/

#event-modal-open{
    cursor: pointer;
}

.create-btn{
    display: flex;
    padding: 20px 0;
    width: 220px;
    background-color: #9747FF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.create-btn p{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

#modal-bg.active{
    opacity: 1;
    pointer-events: auto;
}

#modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
}

#event-modal-container.active{
    opacity: 1;
    pointer-events: auto;
}

#event-modal-container{
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 25%;
    padding: 60px;
    opacity: 0;
    pointer-events: none;
}

#event-modal-close{
    padding: 10px;
    font-size: 20px;
}

.date-time-picker {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date-time-picker .task-name{
    border: none;
    border-bottom: 1px solid #000;
}

.date-time-picker label {
    font-size: 14px;
    margin-bottom: 5px;
}

.date-time-picker input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.date-time-picker input[type="date"],
.date-time-picker input[type="time"] {
    cursor: pointer;
}

.date-time-picker input:focus {
    border-color: #4285f4; /* Googleカレンダーの青色 */
    box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
    outline: none;
}

#color-palette {
  display: flex;
  gap: 10px;
}

.calendar-display{
    display: flex;
    justify-content: flex-end;
    width: 220px;
}

.calendar-display select{
    width: 110px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}


#edit-modal-open{
    cursor: pointer;
}

#edit-modal-container.active{
    opacity: 1;
    pointer-events: auto;
}

#edit-modal-container{
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 25%;
    padding: 60px;
    opacity: 0;
    pointer-events: none;
}

#edit-modal-close{
    padding: 10px;
    font-size: 20px;
}


/*カレンダー*/

.calendar-body{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2rem repeat(5, 5rem);
    border-left: 1px solid rgb(203, 213, 225);
    border-top: 1px solid rgb(203, 213, 225);
    border-right: 1px solid rgb(203, 213, 225);
    
    width: 100;
}

.Sunday, .weekday, .Saturday{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(203, 213, 225);
}

.Sunday{
    background-color: #FFC7C2;
     border-right: 1px solid rgb(203, 213, 225);
}

.Saturday{
    background-color: #BEE3FF
}

.weekday {
     border-right: 1px solid rgb(203, 213, 225);
}

.prev-month-day, .current-month-day, .next-month-day{
    display: flex;
    font-size: 0.75rem;
    padding: 0.5rem;
    border-right: 1px solid rgb(203, 213, 225);
    border-bottom: 1px solid rgb(203, 213, 225);
}

.prev-month-day:nth-child(7n + 7), 
.current-month-day:nth-child(7n + 7), 
.next-month-day:nth-child(7n + 7) {
    border-right: 0;
}

.calendar__event {
    color: red;
    height: 1rem;
    padding: 0 0.5rem;
    font-size: 0.7rem;
    margin-top: 2rem;
    
    background: rgb(74 222 128);

    display: flex;
    align-items: center;
}

/*カレンダーの各カラムの行列番号設定*/

.prev-month-day:nth-child(7n + 1), 
.current-month-day:nth-child(7n + 1),
.next-month-day:nth-child(7n + 1){
    grid-column: 1;
}

.prev-month-day:nth-child(7n + 2), 
.current-month-day:nth-child(7n + 2),
.next-month-day:nth-child(7n + 2) {
    grid-column: 2;
}

.prev-month-day:nth-child(7n + 3), 
.current-month-day:nth-child(7n + 3),
.next-month-day:nth-child(7n + 3) {
    grid-column: 3;
}

.prev-month-day:nth-child(7n + 4), 
.current-month-day:nth-child(7n + 4),
.next-month-day:nth-child(7n + 4) {
    grid-column: 4;
}

.prev-month-day:nth-child(7n + 5), 
.current-month-day:nth-child(7n + 5),
.next-month-day:nth-child(7n + 5)  {
    grid-column: 5;
}

.prev-month-day:nth-child(7n + 6), 
.current-month-day:nth-child(7n + 6),
.next-month-day:nth-child(7n + 6)  {
    grid-column: 6;
}

.prev-month-day:nth-child(7n + 7), 
.current-month-day:nth-child(7n + 7),
.next-month-day:nth-child(7n + 7)  {
    grid-column: 7;
}

.prev-month-day:nth-child(n + 8):nth-child(-n + 14),
.current-month-day:nth-child(n + 8):nth-child(-n + 14){
    grid-row: 2;
}

.prev-month-day:nth-child(n + 15):nth-child(-n + 21),
.current-month-day:nth-child(n + 15):nth-child(-n + 21),
.next-month-day:nth-child(n + 15):nth-child(-n + 21){
    grid-row: 3;
}

.prev-month-day:nth-child(n + 22):nth-child(-n + 28),
.current-month-day:nth-child(n + 22):nth-child(-n + 28),
.next-month-day:nth-child(n + 22):nth-child(-n + 28){
    grid-row: 4;
}

.prev-month-day:nth-child(n + 29):nth-child(-n + 35),
.current-month-day:nth-child(n + 29):nth-child(-n + 35),
.next-month-day:nth-child(n + 29):nth-child(-n + 35){
    grid-row: 5;
}
