/* ================= BASE ================= */
@import url('base/reset.css');
@import url('utils/variables.css');

/* ================ LAYOUT =============== */
@import url('layout/header.css');
@import url('layout/menu.css');
@import url('layout/main.css');

/* ============== COMPONENTS ============= */
@import url('components/button.css');
@import url('components/form.css');
@import url('components/modal.css');

/* ================ PAGES ================ */
@import url('pages/login.css');
@import url('pages/calendar.css');
